/* styles.css */
body {
    background-color: #f7ffe6;
    font-family: Optima;
}

.main-content {
    text-align: center;
    margin: 20px auto;
    width: 90%; /* Adjust width as needed */
}

.left-text, .right-text {
    font-size: 40px; /* Adjust font size for mobile */
    text-align: center; /* Center align text */
    margin: 10px 0; /* Add some margin */
}

.photo-container {
    display: flex;
    flex-wrap: wrap; /* Wrap photos */
    justify-content: center; /* Center align photos */
    margin-top: 20px;
}

.photo-container img {
    width: 40%; /* Adjust photo width for mobile */
    height: auto;
    margin: 5px; /* Add some margin between photos */
}

.about-me {
    text-align: center;
    margin-top: 20px; /* Adjust margin for mobile */
    font-size: 20px; /* Adjust font size for mobile */
}

.about-me h1 {
    margin-bottom: 10px; /* Adjust margin for mobile */
}

.left-column {
    width: 100%; /* Full width for mobile */
    padding: 10px; /* Adjust padding for mobile */
    text-align: center; /* Center align text */
}

.left-column img {
    width: 80%; /* Adjust image width for mobile */
    margin: 10px auto; /* Center align images */
}

.left-column p {
    font-size: 16px; /* Adjust font size for mobile */
    line-height: 1.5; /* Adjust line height for mobile */
    margin-bottom: 10px; /* Adjust margin for mobile */
}

.resume-photo {
    max-width: 100%;
    height: auto;
    display: block; /* Ensure image is treated as a block element */
    margin: auto; /* Center align image */
}

.right-column {
    width: 100%; /* Full width for mobile */
    position: static; /* Reset position */
    margin-top: 20px; /* Adjust margin for mobile */
    text-align: center; /* Center align text */
}
