/* Global Styles */
body {
    background-color: #f7ffe6;
    font-family: Optima;
}

/* Icons */
.fa {
    padding: 0px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #f7ffe6;
    color: black;
}

/* Links */
a {
    color: inherit; /* Inherit text color */
}
a:hover, a:focus {
    text-decoration: underline; /* Add underline on hover/focus if desired */
}

/* Main Content */
.main-content {
    text-align: center;
    margin: 20px auto;
    width: 80%; /* Adjust width as needed */
}

.left-text {
    font-size: 125px;
    text-align: left;
}

.right-text {
    font-size: 125px;
    text-align: right;
    position: absolute; /* Position the text absolutely */
    right: 0; /* Align to the right of the parent container */
    width: calc(100% - 20px); /* Subtract the margin of the photo from the width */
}

/* Photo */
.photo {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    margin-top: 20px; /* Adjust margin as needed */
}
.photo img {
    width: 15%; /* Adjust the width of each photo */
    height: auto;
    margin-right: 10px; /* Add space between photos */
}

/* Down Arrow Button */
.down-arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* About Me Section */
.about-me {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
    font-size: 50px;
}

/* About Us Section */
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px; /* Adjust as needed */
}
.about-us p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px; /* Adjust as needed */
}

/* Split Container */
.split-container {
    display: flex;
    justify-content: space-between;
}

/* Left Column */
.left-column {
    width: 50%;
    padding: 20px;
    text-align: left;
    display: flex; 
    flex-wrap: wrap; 
}
.left-column img {
    width: 30%; /* Adjust the width of each image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add space between images */
}
.left-column p {
    font-size: 20px; /* Adjust as needed */
    line-height: 2.0; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

/* Right Column */
.right-column {
    width: 50%;
    position: relative; /* Ensure proper stacking context for child elements */
    height: auto;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center align horizontally */
}

/* Projects Container */
.projects-container {
    display: flex;
}
.left-half {
    width: 50%;
}
.right-half {
    width: 50%;
}

/* Top Right Section */
.top-right {
    height: 50%;
    text-align: left;
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}
.top-right h1 {
    font-size: 20px;
}

/* Lower Right Section */
.lower-right {
    height: 50%;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .main-content {
        width: 90%; /* Adjust width for smaller screens */
    }
    .left-text,
    .right-text {
        font-size: 100px; /* Adjust font size for smaller screens */
    }
    .photo-container img {
        width: 25%; /* Adjust photo size for smaller screens */
    }
    .left-column {
        padding: 10px; /* Adjust padding for smaller screens */
    }
    .left-column p {
        font-size: 18px; /* Adjust font size for smaller screens */
    }
    .left-half img {
        max-width: 80%; /* Adjust photo size for smaller screens */
    }
    .top-right h1 {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    .projects-container,
    .left-half,
    .right-half {
        width: 100%; /* Set width to full for smaller screens */
        margin-bottom: 20px; /* Add margin between elements */
    }
    .split-container {
        flex-direction: column; /* Stack items vertically */
    }
}

/* Further adjustments for even smaller screens */
@media screen and (max-width: 480px) {
    .main-content {
        width: 95%; /* Adjust width for even smaller screens */
    }
    .left-text,
    .right-text {
        font-size: 80px; /* Adjust font size for even smaller screens */
    }
    .photo-container img {
        width: 35%; /* Adjust photo size for even smaller screens */
    }
    .left-column {
        padding: 5px; /* Adjust padding for even smaller screens */
    }
    .left-column p {
        font-size: 16px; /* Adjust font size for even smaller screens */
    }
    .left-half img {
        max-width: 100%; /* Adjust photo size for even smaller screens */
    }
    .top-right h1 {
        font-size: 14px; /* Adjust font size for even smaller screens */
    }
}

/* Adjustments for tablets */
@media screen and (max-width: 1024px) {
    .left-text,
    .right-text {
        font-size: 80px; /* Adjust font size for tablets */
    }
}

/* Adjustments for large portrait mobile devices */
@media screen and (max-width: 414px) {
    .left-text,
    .right-text {
        font-size: 40px; /* Adjust font size for large portrait mobile devices */
    }
}

/* Adjustments for standard portrait mobile devices */
@media screen and (max-width: 375px) {
    .left-text,
    .right-text {
        font-size: 35px; /* Adjust font size for standard portrait mobile devices */
    }
}
